button {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--blue);
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}
.btnPrimary {
  margin-top: 1.5rem;
  background-color: var(--blue);
}

.btnSecondary {
  background-color: var(--white);
  color: var(--blue);
  width: 70%;
}
