.menuOptions_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 170px;
    height: 100%;
    padding: 2rem 0;
}
.menuOptions_container .link {
  text-decoration: none;
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.option_container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 170px;
  height: 40px;
  margin: 0.4rem 0;
  padding: 0.1rem;
  cursor: pointer;
  color: var(--ternary);
}
.option_container.active {
  background-color: var(--primary);
  color: #fff;
}

.option_container:not(.active):hover {
  background-color: var(--primary-light);
  transition: all 0.3s ease;
}
.option_container.light:not(.active):hover {
  color: var(--primary);
}
.option_container.dark:not(.active):hover {
  color: var(--gray6);
}

.option_container.logout {
  margin-top: auto;
}

.option_container .title {
  font-size: 0.9rem;
  font-family: monospace, serif;
  font-weight: normal;
  margin-left: 0.9rem;
}

