.btn {
  height: fit-content;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: transparent;
  box-shadow: none;
}


/* BUTTONS SIZES */
.btn.normal{
  padding: .5rem 1rem;
  font-size: 1rem;
}

.btn.small{
  padding: .3rem .5rem;
  font-size: .7rem;
}

/* NORMAL BUTTONS */

/* Primary */
.btn.primary {
  background-color: rgba(47, 128, 237, .2);
}
.btn.primary > span {
  color: rgba(47, 128, 237, 1);
}
.btn.primary:hover {
  background-color: rgba(47, 128, 237, .25);
}

/* Secondary */
.btn.secondary {
  background-color: var(--gray6);
}
.btn.secondary > span {
  color: rgba(47, 128, 237, 1);
}
.btn.secondary:hover {
  background-color: var(--gray5);
}

/* Danger */
.btn.danger {
  background-color: rgba(235, 87, 87, .2);
}
.btn.danger > span {
  color: rgba(235, 87, 87, 1);
}
.btn.danger:hover {
  background-color: rgba(235, 87, 87, .25);
}

/* Success */
.btn.success {
  background-color: rgba(39,174, 96, .2);
}
.btn.success > span {
  color: rgba(39,174, 96, 1);
}
.btn.success:hover {
  background-color: rgba(39,174, 96, .25);
}



/* OUTLINED BUTTONS */

/* Primary */
.btn.primary--outlined {
  background-color: transparent;
  border: 1px solid rgba(47, 128, 237, 0.2);
}
.btn.primary--outlined > span {
  color: rgba(47, 128, 237, 1);
}
.btn.primary--outlined:hover {
  background-color: rgba(47, 128, 237, 0.25);
}

/* Secondary */
.btn.secondary--outlined {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn.secondary--outlined > span {
  color: #fff;
}
/* .secondary--outlined:hover {
  background-color: rgba(47, 128, 237, 0.25);
} */

/* Danger */
.btn.danger--outlined {
  background-color: transparent;
  border: 1px solid rgba(235, 87, 87, 0.2);
}
.btn.danger--outlined > span {
  color: rgba(235, 87, 87, 1);
}
.btn.danger--outlined:hover {
  background-color: rgba(235, 87, 87, 0.25);
}



