
.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: 100%;
    padding: 2rem 0.2rem 0.2rem 0.2rem;
    width: inherit;
}

.menuContainer.menu_active{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.optionContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: 40px;
    margin: 0.4rem 0;
    border-radius: 5px;
    cursor: pointer;
    color : var(--ternary);
}
.optionContainer.active{
    background-color: #2980B9;
    color: #fff;
}

.optionContainer.menu_active{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.optionContainer:not(.active):hover{
    background-color: var(--primary-light);
    transition: all 0.3s ease;
    color:var(--primary)
}


.optionContainer.dashboard:not(.menu_active):hover::after{
    content: 'Dashboard';
    position: absolute;
    color: var(--primary);
    left: 70px;
    z-index: 99;
    width: max-content;
    text-align: start;
    padding: 0.2rem;
    background: var(--primary-light);
    border-radius: 5px;
    font-size: 0.8rem;
}

.optionContainer.newNote:not(.menu_active):hover::after{
    content: 'Nueva Nota';
    position: absolute;
    color: var(--primary);
    left: 70px;
    z-index: 99;
    width: max-content;
    text-align: start;
    padding: 0.2rem;
    background: var(--primary-light);
    border-radius: 5px;
    font-size: 0.8rem;
}

.optionContainer.notes:not(.menu_active):hover::after{
    content: 'Notas';
    position: absolute;
    color: var(--primary);
    left: 70px;
    z-index: 99;
    width: max-content;
    text-align: start;
    padding: 0.2rem;
    background: var(--primary-light);
    border-radius: 5px;
    font-size: 0.8rem;
}

.optionContainer.notifications:not(.menu_active):hover::after{
    content: 'Notificaciones';
    position: absolute;
    color: var(--primary);
    left: 70px;
    z-index: 99;
    width: max-content;
    text-align: start;
    padding: 0.2rem;
    background: var(--primary-light);
    border-radius: 5px;
    font-size: 0.8rem;
}

.optionContainer.setting:not(.menu_active):hover::after{
    content: 'Configuración';
    position: absolute;
    color: var(--primary);
    left: 70px;
    z-index: 99;
    width: max-content;
    text-align: start;
    padding: 0.2rem;
    background: var(--primary-light);
    border-radius: 5px;
    font-size: 0.8rem;
}

.optionContainer.logout:not(.menu_active):hover::after{
    content: 'salir';
    position: absolute;
    color: var(--primary);
    left: 70px;
    z-index: 99;
    width: max-content;
    text-align: start;
    padding: 0.4rem;
    background: var(--primary-light);
    border-radius: 5px;
    font-size: 0.8rem;
    
}





.title{
    font-size: 1rem;
    font-family: monospace, serif;
    font-weight: normal;
    margin-left: 0.5rem;
}

.logout{
    margin-top: auto;
}



.link{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}