.menu_container {
    width: 40px;
    height: 100%;
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 10fr;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  .menu_container.light{
    background-color: var(--white);
    box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  }

  .menu_container.dark{
    background-color: var(--gray2);
    box-shadow: -1px 1px 10px 1px rgba(255, 255, 255, 0.1);
  }

  .menu_container.menu_active {
    width:100%;
  }