.container {
  display: flex;
  height: 80%;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0;
  width: max-content;
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

.avatar {
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-light);
  margin-right: 0.6rem;
}

.avatar .img {
  max-height: 100%;
}

.info .name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--blue);
}
.info .email {
  font-size: 0.7rem;
  color: var(--gray4);
}
