.modal_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 99;
  cursor: auto;
}

.modal_content {
  display: flex;
  /* width: 300px;
  height: 400px; */
  padding: 1.5rem 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  z-index: 9999;
  cursor: auto;
}

.modal_content.light {
  background-color: var(--white);
}

.modal_content.dark {
  background-color: var(--gray2);
}


