.dashboard_container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: grid;
  grid-template-columns: 40px auto;
  transition: all 0.2s ease;
  position: relative;
}


.dashboard_container.light {
  background-color: var(--gray6);
}
.dashboard_container.dark {
  background-color: var(--gray1);
}

.dashboard_container.menu_active{
  display: grid;
  grid-template-columns: 170px auto;
}

/* NOTIFICATION */
.notification{
  position: absolute;
  left: 45%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.notification.success{
  color: var(--success);
  background: var(--success-20)
}

.notification.error{
  color: var(--danger);
  background: var(--danger-20)
}
