.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40px auto;
  background-color: var(--gray6);
}

.container.menu_active{
  display: grid;
  grid-template-columns: 170px auto;
}



/* RIGHT SIDE */
.rightContainer {
  width: inherit;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto;
}

.rightContainer .top {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


