.textarea {
    /* A reset of styles, including removing the default dropdown arrow */
    appearance: none;
   /* Additional resets for further consistency */
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    /* width: 150px; */
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: auto;
    line-height: inherit;
    outline: none;
    width: 100%;
    resize: none;
    overflow: hidden;
    font-size: 1rem;
  }


  
  .textarea::-ms-expand {
    display: none;
  }

  .textarea::placeholder {
    font-size: 1rem;
    color: var(--gray4);
  }
  
  .textarea_container {
    position: relative;
    /* display: grid;
    grid-template-areas: "select";
    align-items: center; */
    width: 100%;
    height: 100%;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 0.8rem;
    cursor: pointer;
    line-height: 1.1;
  }
  
  .textarea_container.light {
    background-color: var(--white);
  }
  .textarea_container.dark {
    background-color: var(--gray2);
  }
  
  .textarea_container.light .textarea{
    color: var(--gray2);
  }
  .textarea_container.dark .textarea{
    color: var(--white);
  }
  .textarea,
  .textarea_container:after {
    grid-area: select;
  }
  .textarea:focus + .textarea_focus {
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: .5px solid #000;
    border-radius: inherit;
  }