.noteCard_container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5em 1fr 4fr 1fr;
  padding: 0.5rem 0.8rem;
  justify-content: start;
  border-radius: 5px;
  /* cursor: pointer; */
}

.noteCard_container.light:hover,.noteCard_container.dark:hover {
  /* height: max-content;
  z-index: 99; */
  /* transform: scale(1.01); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.noteCard_container.light {
  background-color: var(--white);
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
}

.noteCard_container.dark {
  background-color: var(--gray2);
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
}

/* STATUS */
.status_container {
  display: flex;
  align-items: center;
  position: relative;
}

.status_container .status{
  font-size: 0.7rem;
}

.circle {
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
}
.circle.created {
  background-color: var(--gray5);
}

.circle.in_progress {
  background-color: var(--yellow);
}
.circle.completed {
  background-color: var(--green);
}

.status {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.status.created {
  color: var(--gray5);
}

.status.in_progress {
  color: var(--yellow);
}
.status.completed {
  color: var(--green);
}

/* NOTE TITLE */

.title {
  font-size: 1.5rem;
}

.title.light {
  color: var(--gray3);
}
.title.dark {
  color: var(--white);
}
/* COMMMENT */
.comment {
  padding-top: 0.5rem;
  overflow-y: auto;
}

.comment.light {
  color: var(--gray3);
}
.comment.dark {
  color: var(--white);
}



/* STAR */
.star{
  position: absolute;
  right: 0;
}

.fillStar{
  fill: yellow;
}

.outlineStar{
  fill: var(--gray3)
}

