@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300&family=Poppins:wght@100;200;300&display=swap');
:root {
  /* COLORS */
  --white: #fff;
  --gray: #333;
  --blue: #1733EA;
  --lightblue: #1733EA;
  --primary: #1733EA;
  --primary-light: #2980b926;
  --ternary: #A3AED0;
  --black: #000;
  --gray1: #333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
  --yellow: #F2C94C;
  --green: #27ae60;
  --success: rgba(39,174, 96, 1);
  --success-20: rgba(39,174, 96, .2);
  --success-25: rgba(39,174, 96, .25);
  --danger: rgba(235, 87, 87, 1);
  --danger-20: rgba(235, 87, 87, .2);
  --danger-25: rgba(235, 87, 87, .25);
  /* RADII */
  --button-radius: 0.7rem;
  /* SIZES */
  --max-width: 768px;
  --max-height: 420px;
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
  --ff-nunito: 'Nunito', sans-serif;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  font-family: var(--ff-nunito);
}



.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: #000;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #000;
  margin-bottom: 5px;
  padding-left: 5px;
}
.note:hover{
  background-color: orange;
}


#home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}